# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# Webpack
.webpack/

# Vite
.vite/

# Electron-Forge
out/

desktop.ini